body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.products-container {
  text-align: left;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
  margin-bottom: 0.5em;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  width: 35%;
  height: 5em;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

.csv-input {
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
  color: #141414;
}